<footer class="mt-5 p-3">
  <section class="">
    <div class="row">
      <div class="col">
        <img src="../../assets/image/logo.png" class="img-fluid" alt="" />
      </div>
      <!-- <div
        class="col d-flex justify-content-end text-white border border-white rounded-0 btn btn-lg btn-lg"
      >
        Englih
        <img src="../../assets/image/icon.svg " class="mx-3" alt="" />
      </div> -->
    </div>
    <div class="line-1"></div>

    <div class="row g-0 mt-3 mx-5">
      <div class="col text-white">
        <h4><a href="">Online Voting</a></h4>
        <ul>
          <li><a href=""> How it Works</a></li>

          <li><a href="">Features </a></li>
          <li><a href=""> Security</a></li>
        </ul>
      </div>
      <!-- products Section starts -->
      <div class="col">
        <h4><a href="">Products</a></h4>
        <ul>
          <li><a href="">Online Voting</a></li>
          <li><a href=""> Live Voting</a></li>
          <li><a href="">Quizes</a></li>
          <li><a href=""> Questionaire</a></li>
          <li><a href="">Ballot/Poll</a></li>
          <li><a href="">Nominational Platform</a></li>
        </ul>
      </div>
      <!-- products section ends -->

      <div class="col">
        <div class="row">
          <!-- About Itick start -->
          <div class="col">
            <h4><a href="">About ITICK</a></h4>
            <ul>
              <li><a href="">Company</a></li>
              <li><a href="">Service</a></li>
            </ul>
          </div>
          <!-- About Itick Ends -->
          <div class="col">
            <h4><a href="">Start Now</a></h4>
            <p>
              <img class="mx-2" src="../../assets/image/logi.png" alt="" />Login
            </p>
          </div>
        </div>
        <div class="row mt-5">
          <p>Copyright &copy; 2022 || All Right Reserver ITICK</p>
        </div>
      </div>
    </div>
  </section>
</footer>
