<div class="container mt-5">
  <h3 class="security">
    Election software means robust security,<br />measures you can rely on.
  </h3>

  <div class="row mt-5">
    <div class="col">
      <p class="para">
        Our online election security measures protect you, your data, <br />
        and your organization against risk.
      </p>
      <ul>
        <li>
          <span class="fw-bold">Safeguard organizational data.</span> Our
          cybersecurity<br />
          measures protect your sensitive data
        </li>
        <li class="text-wrap">
          <span class="fw-bold"
            >Eliminate the risk of double voting and voter fraud.<br
          /></span>
          Closed voting events enable trustworthy decision making.
        </li>
        <li>
          <span class="fw-bold">Prove the integrity of your vote. </span> robust
          auditing<br />
          tools let you demonstrate an accountable voting process.
        </li>
      </ul>
    </div>
    <div class="col-sm-12 col-lg-6">
      <img
        class="img-fluid SerImg"
        src="../../assets/image/Security logo.png"
        width="600"
        height="400"
        alt=""
      />
    </div>
  </div>
</div>
