<div class="container mt-5">
  <h3 class="security">
    Election software means robust security,,<br />measures you can rely on.
  </h3>

  <div class="row">
    <div class="col">
      <p>
        Our online election security measures protect you, your data, <br />
        and your organization against risk.
      </p>
      <ul>
        <li>
          <span class="fw-bold">Safeguard organizational data.</span> Our
          cybersecurity<br />
          measures protect your sensitive data
        </li>
        <li class="text-wrap">
          <span class="fw-bold"
            >Eliminate the risk of double voting and voter fraud.</span
          >
          Closed voting events enable trustworthy decision making.
        </li>
        <li>
          <span class="fw-bold">Prove the integrity of your vote. </span> robust
          auditing tools let you demonstrate an accountable voting process.
        </li>
      </ul>
      <div class="col">
        <img src="" alt="" />
      </div>
    </div>
  </div>
</div>
