<div class="mx-5 mt-30">
  <div class="row">
    <div class="col heroText">
      <h1>USSD based voting plateform</h1>
      <p>
        An hybrid plateform that uses the USSD mobile <br />
        Technology, web and mobile application
      </p>

      <ul>
        <li>A USSD Mobile Technology</li>
        <li>Web And Mobile Application</li>
        <li>Real Time Result viewing</li>
      </ul>

      <div class="mt-4">
        <button
          type="button"
          class="Navbtn rounded-0 rounded-0 btn btn btn btn-outline btn-lg mx-2 w-25"
        >
          Sign up
        </button>

        <button
          type="button"
          class="rounded-0 btn btn-outline-warning btn-lg text-black"
        >
          Learn More
        </button>
      </div>
    </div>

    <div class="col-sm-12 col-lg-6">
      <img
        class="img-fluid heroImg"
        src="../../../assets/image/heroimg.png "
        alt=""
        width="600"
        height="400"
        alt=""
      />

      <!-- Btn display only on Small Screen -->
      <!-- <div class="mt-4 ">
        <button type="button" class="Navbtn btNav border-0 mx-2">
          Sign up
        </button>

        <button
          type="button"
          class="Navbtn mt-1 border border-warning p-2 bg-white"
        >
          Learn More
        </button>
      </div> -->
    </div>
  </div>
</div>
