<div class="servSec container" id="services">
  <div class="col">
    <h1 class="fw-bolder text-black-60 d-flex justify-content-center">
      Our Service
    </h1>

    <p class="">
      An Hybrid plateform that uses the USSD Mobile Technologu, web and mobile
      application to create votes and surveys basically giving room <br />
      to everyone to vote conveniently without limitation and displaying Real
      Time Result viewing that aids transparency
    </p>
  </div>

  <!-- services card section -->

  <div class="cardContain container- p-4">
    <div class="cardRow1 row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100 rounded-0">
          <img
            src="../../assets/image/Services img/live vote.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Live Vote</h5>
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted"><a href="">Read More</a> </small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 rounded-0">
          <img
            src="../../assets/image/Services img/online vote.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Online Vote</h5>
            <p class="card-text">
              This card has supporting text below as a natural lead-in to
              additional content.
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted"><a href="">Read More</a></small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 rounded-0">
          <img
            src="../../assets/image/Services img/Nomination platform.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Nomination plateform</h5>
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This card has even longer content
              than the first to show that equal height action.
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted"><a href="">Read More</a></small>
          </div>
        </div>
      </div>
    </div>

    <!-- second card section -->
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100 rounded-0">
          <img
            src="../../assets/image/Services img/ballot.webp"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Ballot/poll</h5>
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted"><a href="">Read More</a></small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 rounded-0">
          <img
            src="../../assets/image/Services img/quiz.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Quizes</h5>
            <p class="card-text">
              This card has supporting text below as a natural lead-in to
              additional content.
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted"><a href="">Read More</a></small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 rounded-0">
          <img
            src="../../assets/image/Services img/Questionaire.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Questionaire</h5>
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This card has even longer content
              than the first to show that equal height action.
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted"><a href="">Read More</a></small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
